.idea
.vagrant
.vscode
data/ignore
node_modules
vendor
composer.lock
composer.phar
puphpet
Vagrantfile

# Created by .ignore support plugin (hsz.mobi)
### WordPress template
*.log
src/wp-config.php
src/wp-content/advanced-cache.php
src/wp-content/backup-db/
src/wp-content/backups/
src/wp-content/blogs.dir/
src/wp-content/cache/
src/wp-content/upgrade/
src/wp-content/uploads/
src/wp-content/w3tc-config/
src/wp-content/wp-cache-config.php
src/wp-content/plugins/hello.php

src/.htaccess
src/license.txt
src/readme.html
src/sitemap.xml
src/sitemap.xml.gz

logs
.DS_Store
